<div class="main onepage-wrapper">
  <!-- front page -->
  <section id="header">
    <div class="color-layer">
    </div>
    <!-- header-name -->
    <div class="header-name">
      <h1>michael d bianchi</h1>
    </div>
    <!-- nav bar -->
    <nav class="navbar nav-links main-navigation">
      <i id="home-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>
      <!--<ul class="nav navbar-nav">
        <li class="active"><a data-index="1" href="#1">home</a></li>
        <li><a data-index="2" href="#2">about</a></li>
        <li><a data-index="3" href="#3">timeline</a></li>
        <li><a data-index="4" href="#4">contact</a></li>
      </ul>-->
    </nav>
  </section>
  
  <!-- about page -->
  <section id="about">
    <div class="wrapper">
      <!-- left side (with color) -->
      <div class="container-left about-color">
        <div class="section-header about-header">
          <h2>about</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <i id="about-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>
          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          -->
        </nav>
      </div>
      
      <!-- right side (no color) -->
      <div class="container-right about-white flex-box-columns">
        <div class="about-intro flex-row">
          <i class="fa fa-user header-icon" aria-hidden="true"></i>
          <h3>about me</h3>
          <p>
            24 year old, serial hobbyist and avid juggler with a dream to open a cafe (just like everyone else, I know).
          </p>
          <p>
            I spend much of my free time obsessing over how to design our world, physical and virtual, to be more intuitive and fun to be in.
          </p>
        </div> <!-- about-intro -->
        
        <div class="about-career flex-row">
          
          <i class="fa fa-address-card-o header-icon" aria-hidden="true"></i>
          <h3>my career</h3><br>
          <p>
            I am an enthusiastic IT professional with a passionate love for coffee interested in transitioning into the professional world of coffee.
          </p>
          <p>
            My long-term goal is to offer matchless coffee, beautiful presentation, and welcoming customer service to inspire others to love coffee as I do.
          </p>

          <!--<div class="about-details">
            <i class="fa fa-code text-icon-large" aria-hidden="true"></i>
            <p class='bold inline-block'>
              past
            </p>
            <p>
              Until June 2016, I work as a technical services representative at a healthcare IT company.
              I left my career in order to travel, see the world, and meet new people. 
            </p>
            <i class="fa fa-coffee text-icon-large" aria-hidden="true"></i>
            <p class='bold inline-block'>
              future
            </p>
            <p>
              Coffee is my passion in life and I am looking to make it more than just an idle hobby.
              I will be moving to Australia this coming February in order to share my passion as a barista.
            </p>
          </div>-->
          
        </div> <!-- about-career -->
        <!-- resume download button -->
        <div class="about-resume flex-row">
          <div class="btn-floating resume-button">
            <div class="resume-icon">
              <%= link_to "documents/michaeldbianchi.pdf", :anchor =>"public/documents", :target => '_blank', class: "btn"  do %>
                <i class="material-icons">file_download</i>
                <p>Download Resume</p>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
        
    
  </section>
  <!-- timeline page -->
  <section id="timeline">
    <div class="wrapper">
      <!-- left side (no color) -->
      <div class="container-left timeline-white flex-box-columns">
        <div class="timeline-content flex-row">
          <i class="fa fa-paper-plane header-icon" aria-hidden="true"></i>
          <h3>Vagabond</h3><br>
          <h4>@<a href="http://www.wanderbydesign.co/about-us/">wanderbydesign.co</a></h4>
          <p>
            I spent ~7 months travelling around South America, Europe, and Japan, 
            conversing with locals and other travellers in order to pass the
            time, develop long-lasting connections, and witness the
            differing backgrounds and values we all have
            <!--Conversed with locals and other travellers to pass the
            time, develop long-lasting connections, and witness the
            differing backgrounds and values we all have
            Self-hosted, developed custom front end design, and
            copywrote for my shared personal travel blog,
            wanderbydesign.co-->
          </p>
          <!--<p>
            During this time, I also self-hosted, developed custom front end design, and
            copywrote for a shared personal travel blog,
            <a href="http://www.wanderbydesign.co/about-us/">wanderbydesign.co</a>
          </p>-->
        </div>
        <div class="timeline-content flex-row">
          <i class="fa fa-briefcase header-icon" aria-hidden="true"></i>
          <h3>Technical Services</h3><br>
          <h4>@<a href='http://www.epic.com/'>Epic Systems</a></h4>
          <p>
            I served as the primary contact and dedicated customer support for three
            major healthcare organizations' outpatient software in both the United States and the Netherlands
          </p>
        </div>
        <div class="timeline-content flex-row">
          <i class="fa fa-graduation-cap header-icon" aria-hidden="true"></i>
          <h3>Bachelor's of Arts</h3><br>
          <h4>@<a href='http://wp.stolaf.edu/'>St. Olaf College</a></h4><br>
          <h4>Economics and Asian Studies</h4>
          <p>
            Throughout my career at St. Olaf, I studied internationally three separate times, 
            led or co-led three organizations, and worked providing great service in kitchens on our campus for four years
          </p>
          
        </div>
      </div>
      
      <!-- right side (with color) -->
      <div class="container-right timeline-color">
        <div class="section-header timeline-header">
          <h2>timeline</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <i id="timeline-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>

          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>-->
        </nav>
      </div>
      
    </div>
    
  </section>
  <!-- contact page -->
  <section id="contact">
    <div class="wrapper">
      
      
      <!-- left side (with color) -->
      <div class="container-left contact-color">
        <div class="section-header contact-header">
          <h2>contact me</h2>
        </div>
        <!-- nav bar  -->
        <nav class="navbar main-navigation nav-links">
          <i id="contact-up-arrow" class="fa fa-arrow-circle-o-up fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>

          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>-->
        </nav>
      </div>
      <!-- right side (no color) -->
      <div class="container-right contact-white flex-box-columns flex-box-stretch">
        <div class="contact-blurb flex-row">
          <p>
            If you want to collaborate on architecting life experiences 
            through coffee, design, or some other medium, 
            or just fancy saying hello, you are very welcome to contact me.

          </p>
        </div>
        <div class="flex-row">  
          <h3>
            michael d bianchi
          </h3>
        </div>
        <div class="contact-methods flex-row">
          <!-- current address 
          <div class="contact-single-method">
            <i class="fa fa-map-marker text-icon" aria-hidden="true"></i>

            <p>none!!</p>
          </div> -->
          <!-- email -->
          <div class="contact-single-method">
            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>

            <a href="mailto:michaeldbianchi@gmail.com" target="_break" ><p>michaeldbianchi@gmail.com</p></a>
          </div>
          <!-- phone number -->

          <div class="contact-single-method">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <a href="tel:16513980661"><p>+1 (651) 398-0661</p></a>
          </div>
        </div>
        <!--
        <div class="contact form flex-row">
        

        </div>
        -->
        <div class="contact-social-icons flex-row">
          <ul class="fa-ul">
            <li>
              <a href="http://fb.me/michaeldbianchi" target="_break">
                <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/michaeldbianchi" target="_break">
                <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/michaeldbianchi" target="_break">
                <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="flex-row"></div>
        <div class="flex-row"></div>
        <div class="flex-row"></div>
        <div class="flex-row"></div>

      </div>
    </div>
  </section>
</div>

