<div class="main">
  <!-- front page -->
  <section id="header">
    <div class="color-layer">
    </div>
    <!-- header-name -->
    <div class="header-name">
      <h1>michael d bianchi</h1>
    </div>
    <!-- nav bar -->
    <nav class="navbar nav-links main-navigation">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">timeline</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>
  </section>
  
  <!-- about page -->
  <section id="about">
    <div class="wrapper">
      <!-- left side (with color) -->
      <div class="container-left about-color">
        <div class="section-header about-header">
          <h2>about</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </div>
      
      <!-- right side (no color) -->
      <div class="container-right about-white">
        <div class="about-intro">
          <i class="fa fa-user fa-lg" aria-hidden="true"></i>
          <h3>about me</h3>
          
        </div> <!-- about-intro -->
        <div class="about-career">
          <h3>my career</h3>
          <p>
            
          </p>
        </div> <!-- about-career -->
        <!-- resume download button -->
        <div class="button resume-button">
          <div class="resume-icon">
            <p>Download Resume</p>
          </div>
        </div>
      </div>
    </div>
        
    
  </section>
  <!-- timeline page -->
  <section id="timeline">
    <div class="wrapper">
      <!-- left side (no color) -->
      <div class="container-left timeline-white">
        <div class="timeline-content">
          <i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>
          <h3>Vagabond</h3>
          <p>Stuff</p>
          
          <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
          <h3>Technical Services</h3>
          <p>Stuff 2</p>
          
          <i class="fa fa-graduation-cap fa-lg" aria-hidden="true"></i>
          <h3>Bachelor's of Arts in Economics and Asian Studies</h3>
          <p>St. Olaf College</p>
          
        </div>
      </div>
      
      <!-- right side (with color) -->
      <div class="container-right timeline-color">
        <div class="section-header timeline-header">
          <h2>timeline</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </div>
      
    </div>
    
  </section>
  <!-- contact page -->
  <section id="contact">
    <div class="wrapper">
      
      
      <!-- left side (with color) -->
      <div class="container-left contact-color">
        <div class="section-header contact-header">
          <h2>contact me</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </nav>
      </div>
      <!-- right side (no color) -->
      <div class="container-right contact-white">
        <div class="contact-blurb">
              
        </div>
        <div class="contact-methods">
          <!-- current address -->
          <div class="contact-single-method">
            <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>

            <p>none!!</p>
          </div>
          <!-- email -->
          <div class="contact-single-method">
            <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>

            <p>michaeldbianchi@gmail.com</p>
          </div>
          <!-- phone number -->

          <div class="contact-single-method">
            <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
            <p>+1 (651) 398-0661</p>
          </div>
        </div>
        
        <div class="contact form">
            
        </div>
          
        <div class="contact-social-icons">
          <ul class="fa-ul">
            <li>
              <a href="#">
                <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

