<div class="main onepage-wrapper">
  <!-- front page -->
  <section id="header">
    <div class="color-layer">
    </div>
    <!-- header-name -->
    <div class="header-name">
      <h1>michael d bianchi</h1>
    </div>
    <!-- nav bar -->
    <nav class="navbar nav-links main-navigation">
      <i id="home-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>
      <!--<ul class="nav navbar-nav">
        <li class="active"><a data-index="1" href="#1">home</a></li>
        <li><a data-index="2" href="#2">about</a></li>
        <li><a data-index="3" href="#3">timeline</a></li>
        <li><a data-index="4" href="#4">contact</a></li>
      </ul>-->
    </nav>
  </section>
  
  <!-- about page -->
  <section id="about">
    <div class="wrapper">
      <!-- left side (with color) -->
      <div class="container-left about-color">
        <div class="section-header about-header">
          <h2>about</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <i id="about-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>
          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          -->
        </nav>
      </div>
      
      <!-- right side (no color) -->
      <div class="container-right about-white">
        <div class="about-intro">
          <i class="fa fa-user header-icon" aria-hidden="true"></i>
          <h3>about me</h3>
          <p>
            24 year old, serial hobbyist and avid juggler with a dream to open a cafe (just like everyone else, I know).
          </p>
          <p>
            I spend much of my free time obsessing over how to design our world, physical and virtual, to be more intuitive and fun to be in.
          </p>
        </div> <!-- about-intro -->
        
        <div class="about-career">
          
          <i class="fa fa-address-card-o header-icon" aria-hidden="true"></i>
          <h3>my career</h3><br>
          <p>
            I am an enthusiastic IT professional with a passionate love for coffee interested in transitioning into the professional world of coffee.
          </p>
          <p>
            My long-term goal is to offer matchless coffee, beautiful presentation, and welcoming customer service to inspire others to love coffee as I do.
          </p>

          <!--<div class="about-details">
            <i class="fa fa-code text-icon-large" aria-hidden="true"></i>
            <p class='bold inline-block'>
              past
            </p>
            <p>
              Until June 2016, I work as a technical services representative at a healthcare IT company.
              I left my career in order to travel, see the world, and meet new people. 
            </p>
            <i class="fa fa-coffee text-icon-large" aria-hidden="true"></i>
            <p class='bold inline-block'>
              future
            </p>
            <p>
              Coffee is my passion in life and I am looking to make it more than just an idle hobby.
              I will be moving to Australia this coming February in order to share my passion as a barista.
            </p>
          </div>-->
          
        </div> <!-- about-career -->
        <!-- resume download button -->
        <div class="about-resume">
          <div class="button resume-button">
            <div class="resume-icon">
              <p>Download Resume</p>
              <i class="material-icons">file_download</i>
            </div>
          </div>
        </div>
        
      </div>
    </div>
        
    
  </section>
  <!-- timeline page -->
  <section id="timeline">
    <div class="wrapper">
      <!-- left side (no color) -->
      <div class="container-left timeline-white">
        <div class="timeline-content">
          <i class="fa fa-paper-plane header-icon" aria-hidden="true"></i>
          <h3>Vagabond</h3>
          <p>Stuff</p>
          
          <i class="fa fa-briefcase header-icon" aria-hidden="true"></i>
          <h3>Technical Services</h3>
          <p>@<a href='http://www.epic.com/'>Epic Systems</a></p>
          <p>Stuff 2</p>
          
          <i class="fa fa-graduation-cap header-icon" aria-hidden="true"></i>
          <h3>Bachelor's of Arts</h3><br>
          <h4>Economics and Asian Studies</h4>
          <p>@<a href='http://wp.stolaf.edu/'>St. Olaf College</a></p>
          
        </div>
      </div>
      
      <!-- right side (with color) -->
      <div class="container-right timeline-color">
        <div class="section-header timeline-header">
          <h2>timeline</h2>
        </div>
        <!-- nav bar -->
        <nav class="navbar main-navigation nav-links">
          <i id="timeline-down-arrow" class="fa fa-arrow-circle-o-down fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>

          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>-->
        </nav>
      </div>
      
    </div>
    
  </section>
  <!-- contact page -->
  <section id="contact">
    <div class="wrapper">
      
      
      <!-- left side (with color) -->
      <div class="container-left contact-color">
        <div class="section-header contact-header">
          <h2>contact me</h2>
        </div>
        <!-- nav bar  -->
        <nav class="navbar main-navigation nav-links">
          <i id="contact-up-arrow" class="fa fa-arrow-circle-o-up fa-4x nav navbar-nav nav-arrow" aria-hidden="true"></i>

          <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">timeline</a></li>
            <li><a href="#">contact</a></li>
          </ul>-->
        </nav>
      </div>
      <!-- right side (no color) -->
      <div class="container-right contact-white">
        <div class="contact-blurb">
              
        </div>
        <div class="contact-methods">
          <!-- current address -->
          <div class="contact-single-method">
            <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>

            <p>none!!</p>
          </div>
          <!-- email -->
          <div class="contact-single-method">
            <i class="fa fa-envelope-o text-icon" aria-hidden="true"></i>

            <p>michaeldbianchi@gmail.com</p>
          </div>
          <!-- phone number -->

          <div class="contact-single-method">
            <i class="fa fa-phone text-icon" aria-hidden="true"></i>
            <p>+1 (651) 398-0661</p>
          </div>
        </div>
        
        <div class="contact form">
          
        </div>
          
        <div class="contact-social-icons">
          <ul class="fa-ul">
            <li>
              <a href="#">
                <i class="fa fa-facebook-official text-icon" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram text-icon" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin text-icon" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

